@model WebConventerTemperature.Models.TemperatureModel;
@{
    ViewData["Title"] = "Home Page";
}
<form method="get" action="~/Home/Index">
    <div class="text-center">
        <h1 class="display-4">Temperature Convert</h1>
        <p>Сelsius Value °С</p>
        <p>@ViewData["СelsiusValue"]</p>
        <p>Fahrenheit Value °F</p>
        <p>@ViewData["FahrenheitValue"]</p>
    </div>
</form>
